
*{
    padding: 0;
    margin: 0;
}

ul{
    background: rgb(16, 200, 163);
    color: rgb(0, 0, 0);
    padding: 3px;
    margin: 2px;
    list-style: none;
    border: 1px solid black;
}

h1{
    border: 1px solid black;
    background: rgb(16, 200, 163);
    
}

body{
   background: url("https://i.pinimg.com/originals/a1/0e/71/a10e71e4e4245d2952ad40850d0124b3.gif");
   height: 100vh;
   background-size: cover;
}

#contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}